html, body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  min-width: 300px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.box {
  width: 100%;
}

@media screen and (min-width: 500px) {
  .project {
    margin-right: 10px;
    width: calc((100% - 20px)/3);
  }

  .project:last-of-type {
    margin-right: 0;
  }
}

@media screen and (min-width: 700px) {
  .project {
    margin-right: 25px;
    width: calc((100% - 50px)/3);
  }

  .project:last-of-type {
    margin-right: 0;
  }
}

@media screen and (min-width: 800px) {
  .project {
    margin-right: 50px;
    width: calc((100% - 100px)/3);
  }

  .project:last-of-type {
    margin-right: 0;
  }
}

.portfolio_title {
  width: 70%;
  text-align: right;
}

.icon {
  width: 30%;
}

.icon img {
  width: 100%;
  max-width: 100px;
  padding-top: 15px;
  margin: auto;
}

.banner {
  max-height: 400px;
  overflow: hidden;
}

.banner img {
  max-width: 100%;
}

.project {
  text-align: center;
}

.project img {
  width: 100%;
  max-width: 300px;
}
